<head> <!-- Canvas is javascript based,svg(Scalable vector graphics) is xml based-->
<title>Drawing a Line on the Canvas</title>
<style>
	canvas {
		border: 1px solid #000;
        color: rgb(234, 127, 255);
        background-color: brown;
	}
</style>
<script>
    window.onload = function() {
        var canvas = document.getElementById("myCanvas");
        var context = canvas.getContext("2d");
        context.moveTo(50, 150);
        context.lineTo(250, 50);
        context.strokeStyle = "orange";
        context.arc(150, 100, 70, 0, 2 * Math.PI, false);
        context.stroke();
    };
</script>
</head>
<body>
    <canvas id="myCanvas" width="500" height="300"></canvas>
    <svg width="500" height="500">
        <text x="10" y="20" style="font-size:14px;">
            Your browser support SVG.
        </text>
        Sorry, your browser does not support SVG.
        <line x1="150" y1="250" x2="350" y2="450" style="stroke:red; stroke-width:3;" />
        <rect x="50" y="50" width="200" height="100" style="fill:orange; stroke:black; stroke-width:3;" />
    </svg>
</body>
</html>